/*1366 - 961*/
@media only screen and (max-width:1200px){
    
	header div.banner div h1 {
	    font-size: 3rem;
	}

}

/*769 - 960px*/
@media screen and (max-width: 960px){
	
	h2{
		font-size: 120%
	}

	nav ul {
		list-style-type: none;
		padding: 30px;
		display: block;
		text-align: right;
	}

	nav  ul li {
		word-spacing: 5px;
		padding-bottom: 5px;
	}

	header .banner {
	   margin-top: 250px;
	}


	header div.banner div h1 {
	   font-size: 2rem;
	}

	.about_childhood {
	  grid-template-columns: 50% 50%;
	} 

	.about_backround {
	  grid-template-columns: 50% 50%;
	} 

	.text_background {
	  grid-column-start: auto;
	}

	.img_background{
	   grid-column-start: auto;
	}

	.about_future {
		grid-template-columns: 50% 50%;
	}
}

/*481 - 768px*/
@media screen and (max-width: 768px){

	h2{
		font-size: 100%
	}

	.img_future {
    	 align-self: center;
	}	

	.about_me_text {
    	grid-template-columns: 1fr;
    }

	.discovery {
	  	grid-template-columns: repeat(2, 1fr);
	}

	label {
		display: none;
	}

	.footer_container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.social-links {
	 	margin-left: 75px;
	}
	.footer-nav {
        margin-bottom: 15px;
	}

	.copyright p{
		padding-top: 15px;
	}
}
/*320 - 480px*/
@media screen and (max-width: 480px){

	header .banner div {
		top:150px;
	}
	.about_childhood {
	  grid-template-columns: 100%;
	} 

	.text_chilhood {
	  padding: 0;
	  text-align: center;
	}

	.about_backround {
	  grid-template-columns: 100%;
	} 

	.text_background {
	  grid-column-start: auto;
	  padding: 0;
	  text-align: center;
	}

	.img_background{
	   grid-row:2;
	}

	.about_future {
		grid-template-columns: 100%;
	}

	.text_future {
	  padding: 0;
	  text-align: center;
	}

	footer {
		padding: 30px;
	}

	.footer-nav {
		text-align: center;
	}

	.footer-nav li, 
	.social-links li {
	    margin-right: 30px;
	    margin-bottom: 10px;
	    font-size: 120%;
	    text-align: center;
	}

	.social-links {
  	  margin-left: 0;
	}

}